{% extends '::base.html.twig' %}

{% block body %}
    <div class="documents-list">
        <div class="create-document"><a href="{{ path('createDocument') }}">Create document</a></div>
        <ul>
           {% for doc in docs %}
               <li>
                   <span style="width: 35%">{{ doc.name }}</span>
                   <span style="width: 35%" class="doc-descr">{{ doc.description }}</span>
                   <span style="width: 5%">{{ doc.attachments|length }}</span>
                   <div class="actions">
                       <span><a id="edit-doc" class="btn btn-warning" href="{{ path('createDocument', {edit: true, id: doc.id}) }}">edit</a></span>
                       <span><a id="delete-doc" class="btn btn-danger" onclick="deleteDoc({{ doc.id }});" >delete</a></span>
                   </div>
               </li>
           {% endfor %}
        </ul>
    </div>
{% endblock %}