.header {
    width: 100%;
    border-bottom: 8px solid #868686;
    padding: 10px;
    font-style: italic;
    background-color: #565656;
    color: #dadada;
}

body {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.documents-list {
    max-width: 60%;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 690px;
    margin: 0 auto;
}

.documents-list ul {
    margin-top: 20px;
    border-top: 4px solid #565656;
    list-style: none;
    padding: 0;
    width: 100%;
}

.documents-list ul li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 5px;
}

.documents-list ul li span {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}

.doc-descr {
    width: 140px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal;
}

.documents-list ul li:hover {
    -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
    cursor: pointer;
}

.document-textarea {
    height: 290px;
}

.document-textarea, .attachments, .actions-doc {
    max-width: 60%;
    min-width: 690px;
    margin: 20px auto;
}

.document-textarea > textarea {
    width: 100%;
    resize: none;
    margin-top: 5px;
    height: 100%;
}

.attachments {
    margin-top: 40px;
}

.document-textarea > input {
    width: 100%;
}

button {
    cursor: pointer;
}

#dropzone {
    position: relative;
    border: 10px dotted #565656;
    border-radius: 20px;
    color: #565656;
    font: bold 24px/200px arial;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    width: 100%;
}

#dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
}

#dropzone.dropped {
    background: #dadada;
    border: 10px solid #565656;
}

#dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui-sortable-helper {
    display: table;
}