{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.min.css') }}">
{% endblock %}

{% block body %}
    <form name="document-create" id="create-doc-form">
        <div class="document-textarea">
            <input name="title" type="text" placeholder="Document title" {% if doc is defined %} value="{{ doc.name }}" {% endif %} required>
            <textarea name="text" placeholder="Document's content" required>{% if doc is defined %}{{ doc.description|raw }}{% endif %}</textarea>
            <input name="id" type="hidden" {% if doc is defined %} value="{{ doc.id }}" {% endif %} id="doc-id">
        </div>
        <div class="attachments">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <h5 style="cursor: pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Attachments
                                <button style="float: right" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i> Add attachment</button>
                            </h5>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            {% if attch is defined  and attch|length > 0%}
                                <table class="table table-stripped">
                                    <tbody>
                                        <tr>
                                            <td>File name</td>
                                            <td>File size</td>
                                            <td>Action</td>
                                        </tr>
                                        {% for attachment in attch %}
                                            <tr id="{{ attachment.id }}" pos="{{ attachment.position }}">
                                                <td><span>{{ attachment.name }}</span></td>
                                                <td><span>{{ attachment.size }} KB</span></td>
                                                <td style="width: 70px; align-content: center"><span><a id="delete-att" onclick="deleteAtt({{ attachment.id }})" class="btn btn-danger" href="#">delete</a></span></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Attachments doesn't exit
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions-doc">
            <button type="submit" class="btn btn-primary pull-right btn-block" style="width: 49%" id="save-doc">Save</button>
            <button onclick="window.location.href = '/'" type="button" class="btn btn-default btn-block" style="width: 49%" id="close-doc">Close</button>
        </div>
    </form>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form action="" id="upload-attach" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add attachment</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="dropzone">
                            <div id="preupload-text">+ Upload file</div>
                            <input type="file" id="att-file" accept="image/png, application/pdf, doc/docx" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/document.js') }}" type="text/javascript"></script>
{% endblock %}